USE [master]
GO
/****** Object:  Database [TrainDB]    Script Date: 16-04-2026 21:51:39 ******/
CREATE DATABASE [TrainDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TrainDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TrainDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainDB]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Bid] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[TicketNo] [varchar](50) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[FromPlace] [varchar](100) NULL,
	[ToPlace] [varchar](100) NULL,
	[TicketPrice] [decimal](10, 2) NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[SeatNo] [varchar](10) NULL,
	[UserId] [int] NULL,
	[TrainNumber] [varchar](20) NULL,
	[PNR] [varchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancelTicket]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancelTicket](
	[Eid] [int] IDENTITY(1,1) NOT NULL,
	[Bid] [int] NULL,
	[Id] [int] NULL,
	[Details] [varchar](255) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompletedBooking]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompletedBooking](
	[Pid] [int] IDENTITY(1,1) NOT NULL,
	[Bid] [int] NULL,
	[Uid] [int] NULL,
	[Id] [int] NULL,
	[PreviousTicketNo] [varchar](50) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[FromPlace] [varchar](100) NULL,
	[ToPlace] [varchar](100) NULL,
	[TicketPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainDetails]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainName] [varchar](100) NULL,
	[TrainNumber] [varchar](20) NULL,
	[BogiNumber] [varchar](5) NULL,
	[SeatNumber] [varchar](5) NULL,
	[TotalSeats] [int] NULL,
	[AvailableSeats] [int] NULL,
	[BookedSeats] [int] NULL,
	[WaitingSeats] [int] NULL,
	[Status] [varchar](20) NULL,
	[PNR] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Bid], [Id], [TicketNo], [FromDate], [ToDate], [FromPlace], [ToPlace], [TicketPrice], [Status], [CreatedAt], [SeatNo], [UserId], [TrainNumber], [PNR], [Price], [Phone], [CreatedDate]) VALUES (1, 2, N'TKTEB0C9EC0-1E28-4379-9C02-C69B40548CF5', NULL, NULL, N'Delhi', N'Mumbai', CAST(500.00 AS Decimal(10, 2)), N'CANCELLED', CAST(N'2026-04-11T12:27:42.193' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Booking] ([Bid], [Id], [TicketNo], [FromDate], [ToDate], [FromPlace], [ToPlace], [TicketPrice], [Status], [CreatedAt], [SeatNo], [UserId], [TrainNumber], [PNR], [Price], [Phone], [CreatedDate]) VALUES (12, 20, N'TKT8BFFDA8A-6063-4DFD-9384-C865EB0687BF', CAST(N'2026-04-15' AS Date), CAST(N'2026-04-16' AS Date), N'Indore', N'Bombay', CAST(700.00 AS Decimal(10, 2)), N'ACTIVE', CAST(N'2026-04-12T13:16:28.453' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Booking] ([Bid], [Id], [TicketNo], [FromDate], [ToDate], [FromPlace], [ToPlace], [TicketPrice], [Status], [CreatedAt], [SeatNo], [UserId], [TrainNumber], [PNR], [Price], [Phone], [CreatedDate]) VALUES (13, 22, N'TKTF1377B18-DF18-43C4-A789-D5D49FA4616F', CAST(N'2026-04-15' AS Date), CAST(N'2026-04-16' AS Date), N'Indore', N'Pune', CAST(500.00 AS Decimal(10, 2)), N'ACTIVE', CAST(N'2026-04-12T13:48:02.910' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[CancelTicket] ON 

INSERT [dbo].[CancelTicket] ([Eid], [Bid], [Id], [Details], [Status]) VALUES (1, 2, 2, N'TKT5C3B28E2-16B3-4067-9D82-99F4BD4CE137', N'CANCELLED')
INSERT [dbo].[CancelTicket] ([Eid], [Bid], [Id], [Details], [Status]) VALUES (2, 4, 3, N'TKTA444C5F1-0AD3-48E2-9454-FF21B5624BB8', N'CANCELLED')
INSERT [dbo].[CancelTicket] ([Eid], [Bid], [Id], [Details], [Status]) VALUES (3, 9, 10, N'TKT08AF3F0D-A120-468C-9FF4-ADD34A78ACBB', N'CANCELLED')
SET IDENTITY_INSERT [dbo].[CancelTicket] OFF
GO
SET IDENTITY_INSERT [dbo].[CompletedBooking] ON 

INSERT [dbo].[CompletedBooking] ([Pid], [Bid], [Uid], [Id], [PreviousTicketNo], [FromDate], [ToDate], [FromPlace], [ToPlace], [TicketPrice]) VALUES (1, 2, 2, 2, N'TKT5C3B28E2-16B3-4067-9D82-99F4BD4CE137', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-17' AS Date), N'Delhi', N'Mumbai', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[CompletedBooking] ([Pid], [Bid], [Uid], [Id], [PreviousTicketNo], [FromDate], [ToDate], [FromPlace], [ToPlace], [TicketPrice]) VALUES (2, 1, 2, 2, N'TKTEB0C9EC0-1E28-4379-9C02-C69B40548CF5', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-17' AS Date), N'Delhi', N'Mumbai', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[CompletedBooking] ([Pid], [Bid], [Uid], [Id], [PreviousTicketNo], [FromDate], [ToDate], [FromPlace], [ToPlace], [TicketPrice]) VALUES (3, 2, 2, 2, N'TKT5C3B28E2-16B3-4067-9D82-99F4BD4CE137', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-17' AS Date), N'Delhi', N'Mumbai', CAST(500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[CompletedBooking] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainDetails] ON 

INSERT [dbo].[TrainDetails] ([Id], [TrainName], [TrainNumber], [BogiNumber], [SeatNumber], [TotalSeats], [AvailableSeats], [BookedSeats], [WaitingSeats], [Status], [PNR], [CreatedAt]) VALUES (1, N'Rajdhani', N'T123', N'B1', N'T1', 1, 0, 1, 0, N'BOOKED', N'T123-130600-T1', CAST(N'2026-04-15T22:07:47.557' AS DateTime))
INSERT [dbo].[TrainDetails] ([Id], [TrainName], [TrainNumber], [BogiNumber], [SeatNumber], [TotalSeats], [AvailableSeats], [BookedSeats], [WaitingSeats], [Status], [PNR], [CreatedAt]) VALUES (2, N'Rajdhani', N'T123', N'B1', N'T2', 1, 0, 1, 0, N'BOOKED', N'T123-152231-T2', CAST(N'2026-04-15T22:07:47.557' AS DateTime))
INSERT [dbo].[TrainDetails] ([Id], [TrainName], [TrainNumber], [BogiNumber], [SeatNumber], [TotalSeats], [AvailableSeats], [BookedSeats], [WaitingSeats], [Status], [PNR], [CreatedAt]) VALUES (3, N'Rajdhani', N'T123', N'B1', N'T3', 1, 0, 1, 0, N'BOOKED', N'T123-152234-T3', CAST(N'2026-04-15T22:07:47.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[TrainDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([Uid], [Id], [Phone], [Email], [Password]) VALUES (2, 2, NULL, N'test@mail.com', N'$2b$10$QECK13A8WfOPf80yHylBzuJSIPeC7Rff.NbfRvX85ejR6b0UR/ZU2')
INSERT [dbo].[UserDetails] ([Uid], [Id], [Phone], [Email], [Password]) VALUES (3, 3, NULL, N'user@mail.com', N'$2b$10$kZOspoNP.H8spAzWF0LkLO5qiJIoNxebXNxiEvzpBxLXGORNe7V32')
INSERT [dbo].[UserDetails] ([Uid], [Id], [Phone], [Email], [Password]) VALUES (4, 4, NULL, N'user2@mail.com', N'$2b$10$gi5WdybZqHiLMqL/PrYTo.DaXELriWtKpL.PwwGwnrl1xWY0AJTsS')
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Role]) VALUES (1, N'Test', N'User')
INSERT [dbo].[Users] ([Id], [Name], [Role]) VALUES (2, N'Bhupendra', N'Admin')
INSERT [dbo].[Users] ([Id], [Name], [Role]) VALUES (3, N'User1', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TrainDetails] ADD  DEFAULT ((10)) FOR [TotalSeats]
GO
ALTER TABLE [dbo].[TrainDetails] ADD  DEFAULT ((10)) FOR [AvailableSeats]
GO
ALTER TABLE [dbo].[TrainDetails] ADD  DEFAULT ((0)) FOR [BookedSeats]
GO
ALTER TABLE [dbo].[TrainDetails] ADD  DEFAULT ((0)) FOR [WaitingSeats]
GO
ALTER TABLE [dbo].[TrainDetails] ADD  DEFAULT ('AVAILABLE') FOR [Status]
GO
ALTER TABLE [dbo].[TrainDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CancelTicket]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CompletedBooking]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelBooking]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelBooking]
(
    @Bid INT,
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TrainNumber NVARCHAR(50);
    DECLARE @SeatNo NVARCHAR(10);
    DECLARE @Status NVARCHAR(20);
    DECLARE @PNR NVARCHAR(100);

    -- Get booking details
    SELECT 
        @TrainNumber = TrainNumber,
        @SeatNo = SeatNo,
        @Status = Status,
        @PNR = PNR   -- assuming PNR exists in Booking
    FROM Booking
    WHERE Bid = @Bid AND UserId = @UserId;

    -- Validation
    IF @TrainNumber IS NULL
    BEGIN
        RAISERROR('Booking not found', 16, 1);
        RETURN;
    END

    IF @Status = 'CANCELLED'
    BEGIN
        RAISERROR('Already cancelled', 16, 1);
        RETURN;
    END

    -------------------------------------------------
    -- ✅ INSERT INTO CancelTicket (MATCH YOUR TABLE)
    -------------------------------------------------
    INSERT INTO CancelTicket
    (
        Bid,
        Id,
        Details,
        Status
    )
    VALUES
    (
        @Bid,
        @UserId,
        @PNR,        -- store ticket/PNR in Details
        'CANCELLED'
    );

    -------------------------------------------------
    -- ✅ UPDATE BOOKING
    -------------------------------------------------
    UPDATE Booking
    SET Status = 'CANCELLED'
    WHERE Bid = @Bid;

    -------------------------------------------------
    -- 🔥 WAITING → CONFIRMED
    -------------------------------------------------
    DECLARE @NextWaitingId INT;

    SELECT TOP 1 @NextWaitingId = Bid
    FROM Booking
    WHERE TrainNumber = @TrainNumber
    AND Status = 'WAITING'
    ORDER BY CreatedDate;

    IF @NextWaitingId IS NOT NULL
    BEGIN
        DECLARE @NextSeatNo NVARCHAR(10);

        SELECT @NextSeatNo = 'A' + CAST(COUNT(*) + 1 AS NVARCHAR)
        FROM Booking
        WHERE TrainNumber = @TrainNumber AND Status = 'CONFIRMED';

        UPDATE Booking
        SET 
            Status = 'CONFIRMED',
            SeatNo = @NextSeatNo
        WHERE Bid = @NextWaitingId;
    END

    SELECT 'Ticket cancelled successfully' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBooking]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateBooking]
    @Id INT,
    @FromPlace VARCHAR(100),
    @ToPlace VARCHAR(100),
    @Price DECIMAL(10,2),
    @FromDate DATE,
    @ToDate DATE,
    @SeatNo VARCHAR(10)
AS
BEGIN
    -- 🚫 Normalize values
    SET @SeatNo = UPPER(@SeatNo)

    -- 🚫 Check duplicate seat
    IF EXISTS (
        SELECT 1 FROM Booking
        WHERE 
            FromPlace = @FromPlace
            AND ToPlace = @ToPlace
            AND CAST(FromDate AS DATE) = CAST(@FromDate AS DATE)
            AND UPPER(SeatNo) = @SeatNo
            AND Status = 'ACTIVE'
    )
    BEGIN
        RAISERROR('Seat already booked', 16, 1)
        RETURN
    END

    -- ✅ Insert booking
    INSERT INTO Booking (
        Id, TicketNo, FromPlace, ToPlace,
        TicketPrice, FromDate, ToDate,
        SeatNo, Status, CreatedAt
    )
    VALUES (
        @Id,
        CONCAT('TKT', NEWID()),
        @FromPlace,
        @ToPlace,
        @Price,
        @FromDate,
        @ToDate,
        @SeatNo,
        'ACTIVE',
        GETDATE()
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBooking_V2]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateBooking_V2]
(
    @UserId INT,
    @TrainNumber NVARCHAR(50),
    @FromPlace NVARCHAR(100),
    @ToPlace NVARCHAR(100),
    @Price DECIMAL(10,2),
    @FromDate DATE,
    @ToDate DATE,
    @Phone NVARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ConfirmedCount INT;
    DECLARE @WaitingCount INT;
    DECLARE @SeatNo NVARCHAR(10);
    DECLARE @Status NVARCHAR(20);

    -- Confirmed count
    SELECT @ConfirmedCount = COUNT(*) 
    FROM Booking
    WHERE TrainNumber = @TrainNumber AND Status = 'CONFIRMED';

    -- Waiting count
    SELECT @WaitingCount = COUNT(*) 
    FROM Booking
    WHERE TrainNumber = @TrainNumber AND Status = 'WAITING';

    -- Logic
    IF (@ConfirmedCount < 10)
    BEGIN
        SET @SeatNo = 'A' + CAST(@ConfirmedCount + 1 AS NVARCHAR);
        SET @Status = 'CONFIRMED';
    END
    ELSE IF (@WaitingCount < 5)
    BEGIN
        SET @SeatNo = NULL;
        SET @Status = 'WAITING';
    END
    ELSE
    BEGIN
        SELECT 0 AS success, 'Train fully booked' AS message;
        RETURN;
    END

    -- Insert
    INSERT INTO Booking
    (
        UserId,
        TrainNumber,
        FromPlace,
        ToPlace,
        Price,
        FromDate,
        ToDate,
        Phone,
        SeatNo,
        Status,
        CreatedDate
    )
    VALUES
    (
        @UserId,
        @TrainNumber,
        @FromPlace,
        @ToPlace,
        @Price,
        @FromDate,
        @ToDate,
        @Phone,
        @SeatNo,
        @Status,
        GETDATE()
    );

    SELECT 
        1 AS success,
        'Booking successful' AS message,
        @Status AS status,
        @SeatNo AS seatNo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBooking]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteBooking]
    @Id INT = NULL,
    @Bid INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Case 1: Delete by Id
    IF @Id IS NOT NULL
    BEGIN
        DELETE FROM Booking
        WHERE Id = @Id;
    END

    -- Case 2: Delete by Bid
    ELSE IF @Bid IS NOT NULL
    BEGIN
        DELETE FROM Booking
        WHERE Bid = @Bid;
    END

    -- If nothing deleted
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR ('Booking not found', 16, 1);
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExpireBookings]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ExpireBookings]
AS
BEGIN
    UPDATE Booking
    SET Status = 'COMPLETED'
    WHERE Status = 'ACTIVE'
    AND ToDate < CAST(GETDATE() AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllBookings]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAllBookings]
AS
BEGIN
    SELECT 
        B.Bid,
        B.Id,
        U.Name,
        B.TicketNo,
        B.FromPlace,
        B.ToPlace,
        B.TicketPrice,
        B.FromDate,
        B.ToDate,
        B.Status,
        B.CreatedAt
    FROM Booking B
    JOIN Users U ON B.Id = U.Id
    ORDER BY B.CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailableSeats]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAvailableSeats]
    @TrainNumber VARCHAR(20)
AS
BEGIN
    SELECT *
    FROM TrainDetails
    WHERE TrainNumber = @TrainNumber AND Status = 'AVAILABLE';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookedSeats]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetBookedSeats]
    @FromPlace VARCHAR(100),
    @ToPlace VARCHAR(100),
    @FromDate DATE
AS
BEGIN
    SELECT SeatNo
    FROM Booking
    WHERE FromPlace = @FromPlace
    AND ToPlace = @ToPlace
    AND FromDate = @FromDate
    AND Status = 'ACTIVE'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingById]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[sp_GetBookingById]
    @Bid INT
AS
BEGIN
    SELECT * FROM Booking WHERE Bid = @Bid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingsByUser]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[sp_GetBookingsByUser]
    @Id INT
AS
BEGIN
    SELECT *
    FROM Booking
    WHERE Id = @Id
    AND Status = 'ACTIVE'
    AND FromDate >= CAST(GETDATE() AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCancelledTickets]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCancelledTickets]
    @Id INT
AS
BEGIN
    SELECT *
    FROM Booking
    WHERE UserId = @Id
      AND Status = 'CANCELLED'
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPreviousBookings]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPreviousBookings]
(
    @Id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Pid,
        Bid,
        Uid,
        Id,
        PreviousTicketNo,
        FromDate,
        ToDate,
        FromPlace,
        ToPlace,
        TicketPrice
    FROM CompletedBooking
    WHERE Id = @Id
    ORDER BY Pid DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LoginUser]
    @Email VARCHAR(100)
AS
BEGIN
    SELECT 
        U.Id, 
        U.Name, 
        U.Role, 
        UD.Email, 
        UD.Password
    FROM Users U
    JOIN UserDetails UD ON U.Id = UD.Id
    WHERE UD.Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 16-04-2026 21:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegisterUser]
    @Name VARCHAR(100),
    @Email VARCHAR(100),
    @Password VARCHAR(100),
    @Role VARCHAR(20) = 'User'  -- 🔥 NEW PARAM
AS
BEGIN
    INSERT INTO Users (Name, Role)
    VALUES (@Name, @Role)

    DECLARE @UserId INT = SCOPE_IDENTITY()

    INSERT INTO UserDetails (Id, Email, Password)
    VALUES (@UserId, @Email, @Password)
END
GO
USE [master]
GO
